@import url(./variable.css);

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0ACEF8;
  height: 80px;
  padding: 0 20px;
}

.home-button {
  padding: 10px 20px;
  background-color: #0ACEF8;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.menu-icon {
  display: none;
}

.menu-icon .hamburger-line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.menu-icon .hamburger-line:last-child {
  margin-bottom: 0;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 80px;
  right: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#menu-toggle:checked ~ .menu li {
  margin-bottom: 10px;
}

#menu-toggle:checked ~ .menu a {
  color: white;
  font-size: 16px;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 100px;
}

.hero-content {
  text-align: left;
  color: #fff;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text-wrapper {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 768px) {
  .hero-content {
    text-align: left;
    align-items: flex-start;
  }

  .hero-text-wrapper {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    min-height: 300px;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .menu-icon .hamburger-line {
    background-color: black
  }

  #menu-toggle:checked + .menu-icon .hamburger-line {
    background-color: black
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #menu-toggle:checked ~ .menu li {
    margin-bottom: 10px;
  }

  #menu-toggle:checked ~ .menu a {
    color: white;
    font-size: 16px;
  }
}

p {
  font-size: 1.5em;
  margin-bottom: 40px;
  padding: 0;
}

.hero-button {
  background-color: #0ACEF8; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #5B5BAF;
}
